.benefits {
   padding: 120px 0;
   position: relative;

   &::after {
      content: "II";
      left: calc(50% + 555px);
      transform: translate(-50%, 0);
      @include decorNumber;
   }
}

.benefits__row {
   display: flex;
   column-gap: 70px;
}

.benefits__row-text {
}

.benefits__item {
   text-align: center;
}

.benefits__item-image {
   margin-bottom: 53px;
}

.benefits__item-text {
   font-family: $font-secondary;
   line-height: 27px;
   font-size: 1.35;
}
